body {
	background-color: #e3e3e3;
	font-family: sans-serif;
}

h3 {
	text-align: center;
}


div.menu {
    background: #c7c7c7;
    width: auto;
}

ul.menu {
    list-style-type: none;
    margin: 10;
    padding: 2;
    overflow: hidden;
}

li.menu {
    float: left;
    padding: 0;
    margin: 0;
}

li.menu a.menu {
    display: block;
    color: black;
    padding: 12px 14px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}